<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mexBehavior" name="WcfMathLibrary.Service1">
                <endpoint address="HostService1" binding="basicHttpBinding" bindingConfiguration=""
                    contract="WcfMathLibrary.IService1" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080" />                        
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>