<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IServiceIntegral" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WcfMathLibrary/Integrals/IntegralService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IServiceIntegral"
                contract="ServiceReference1.IServiceIntegral" name="WSDualHttpBinding_IServiceIntegral">
                <identity>
                    <userPrincipalName value="DESKTOP-HSDPKO3\Vlad" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>